body{
background:url(../img/bg.jpg) no-repeat left bottom;
background-attachment:fixed;
}
.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
      position: absolute;
      width: 100%;
      bottom: 10px;
  }
}

.card.card-upgrade .card-category{
  max-width: 530px;
  margin: 0 auto;
}

.bgBlur{
  background:url(../img/bg.jpg) no-repeat left -40px;
  background-attachment:fixed;
}

.sidebar:before, .sidebar:after {
 content:unset!important; 
 display:none!imporant;
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
 overflow:hidden!important;
}
.sidebar .nav i, .off-canvas-sidebar .nav i{
  color:#333;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a{
  color:#333;
}
.wrapper{
  /*box-shadow: 0px 0px 5px #7b7b7b;*/
}
/*.main-panel{
    position: absolute!important;
    z-index: 100!important;
    left: 245px!important;
    float: right!important;
    top: 0px!important;
    background: #333!important;
}*/
.main-panel { 
    /*background: #2F323D!important;*/
    width:100%!important;
}
.panel-header{
 padding-top:20px;
}
.wrapper{
width:1223px!important;
}
.panel-header {
   /* background: #2F323D!important;*/ 
   height:unset!important;
}

.chartjsLegend ul{
   margin-top:10px;
}
.chartjsLegend li{
   list-style-type:none;
   display:block;
   color:#fff;
   font-size:13px; 
}
.chartjsLegend li span {
    display: inline-block;;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 25px;
}
/*.sidebar, .off-canvas-sidebar {
    position:static!important;
    width:200px!important;
}*/
.navbar .navbar-brand{
font-size: 1em;
}
.sidebar .nav li > a{
margin:5px 7px!important;
padding: 5px 0px!important;
}
.sidebar .nav li:hover:not(.active) > a, .sidebar .nav li:focus:not(.active) > a, .off-canvas-sidebar .nav li:hover:not(.active) > a, .off-canvas-sidebar .nav li:focus:not(.active) > a{
   background-color: unset!important;
}
.form-control{
color:#fff!important;
}
.form-control:active{
color:#333!important;
}
.form-control:focus{
color:#333!important;
}
.form-control:focus{
color:#333!important;
}
select.form-control option{
color:#333!important;
}
.navbar{
padding:unset!important;
}
